* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background: #c0ffb0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.game-wrapper {
  position: relative;
  width: 80vw;
  max-width: 90vw;
  height: 70vh;
  max-height: 90vh;
}

#game {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url('assets/Sky.png');
  background-size: auto;
  background-position: center;
  border: 5px solid #2e772a;
  border-radius: 20px;
}

#ground {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 75%;
  height: 25%;
  background-image: url(assets/Grass.png);
  image-rendering: pixelated;
  background-size: contain;
  background-repeat: repeat-x;
  border-top: 3px solid #25242e;
}

#dino {
  position: absolute;
  width: 120px;
  height: 105px;
  background-image: url('assets/capyWalk.png');
  transform: scaleX(-1);
  transform: scale(5);
  background-size: cover;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.obstacle {
  position: absolute;
  width: 75px;
  height: 75px;
  background-image: url('assets/catRun.png');
  background-size: cover;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.hud {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

#score {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 2rem;
}

#restart {
  padding: 0.25rem 0.75rem;
  font-size: 1.5rem;
  border-radius: 10px;
  border: 3px solid #16552d;
  background: #f9fafb;
  color: #16552d;
  cursor: pointer;
}

#restart.hidden {
  display: none;
}